.TasksList {
  position: relative;
  background: #fff;
  width: 550px;
  max-width: 100%;
  padding: 2rem 2rem 2.5rem;
  border-radius: 6px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  animation: appear 500ms ease forwards 250ms;
  opacity: 0;
}

.TasksList-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.TasksList-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: 0.25rem;
}

.TasksList-empty p {
  font-size: 1.15rem;
  text-align: center;
  margin-bottom: 1rem;
}

.TasksList-empty p:last-child {
  margin-bottom: 0;
}

.TasksList-buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 100%;
}

.TasksList-buttons button {
  position: relative;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 1.25rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 200ms ease;
  border: none;
  margin: 0 0.5rem;
}

.TasksList-buttons button:hover {
  transform: scale(1.075);
}

.TasksList-add-new {
  background: #58bb58;
  color: #fff;
}

.TasksList-clear {
  background: #c93e3e;
  color: #fff;
}

.TasksList .tooltip {
  position: absolute;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.4em 0.5em;
  line-height: 1.35;
  width: 200px;
  font-size: 0.8rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease;
}

.TasksList-buttons button:hover .tooltip {
  opacity: 1;
  transition-delay: 200ms;
}

@media (max-width: 550px) {
  .TasksList {
    padding: 2rem 1.5rem 2.5rem;
  }

  .TasksList-title {
    font-size: 1.25rem;
  }

  .TasksList-empty p {
    font-size: 1rem;
  }

  .TasksList-buttons button:hover .tooltip {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
