.Task {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(30, 28, 44, 0.6);
  padding: 1rem 0;
  list-style: none;
  cursor: pointer;
}

.Task:last-of-type {
  border-bottom: none;
}

.Task-icon {
  display: inline-block;
  margin-right: 1.5rem;
}

.Task-text {
  margin-top: 0.3em;
  position: relative;
  transition: 0.3s ease opacity;
  line-height: 1.5;
}

.Task-text::after {
  content: "";
  position: absolute;
  left: -2.5%;
  top: calc(50% - 1px);
  width: 105%;
  height: 1.5px;
  background: #1e1c2c;
  transform: scaleX(0);
  transform-origin: left center;
  transition: 0.3s ease transform;
}

.completed .Task-text {
  opacity: 0.55;
}

.completed .Task-text::after {
  transform: scale(1);
}

.Task-delete {
  margin-left: auto;
  color: #b31f1f;
}
