.Task {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  letter-spacing: -0.5px;
  border-bottom: 1px solid rgba(30, 28, 44, 0.6);
  height: 65px;
  list-style: none;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 0.3s 0.1s ease forwards;
}

.Task:last-child {
  border-bottom: none;
}

.Task-icon {
  display: inline-block;
  width: 2.5rem;
}

.Task-text {
  margin-top: 0.3em;
  position: relative;
  transition: 0.3s ease opacity;
  line-height: 1.4;
}

.Task-text::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  left: -2.5%;
  top: calc(50% - 1px);
  width: 105%;
  height: 1.5px;
  background: #1e1c2c;
  transform: scaleX(0);
  transform-origin: left center;
  transition: 0.3s ease transform;
}

.completed .Task-text {
  opacity: 0.55;
}

.completed .Task-text::after {
  transform: scale(1);
}

.Task-buttons {
  display: flex;
  margin-left: auto;
}

.Task-edit,
.Task-delete {
  opacity: 0;
  transition: opacity 0.4s;
  padding: 0.5rem;
}

.Task-edit {
  color: #1e1c2c;
}

.Task-delete {
  color: #b31f1f;
}

.Task:hover .Task-edit,
.Task:hover .Task-delete {
  opacity: 1;
}
