.App {
  min-height: 100vh;
  background: #2f2e3d;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem 1.5rem 5.5rem;
}

@media (max-width: 550px) {
  .App {
    padding: 1.25rem 1.25rem 5.5rem;
  }
}
